//contenu témoignages
.genCite {
  width: 70vw !important;
  display: flex !important;
  flex-direction: column !important;
  // justify-content: center;
  align-items: center !important;
  margin: 0 2rem !important;

  //Témoignages
  #citation {
    width: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem) !important;
    letter-spacing: 0.05rem !important;
    text-align: left !important;

    @media only screen and (min-width: 768px) {
      margin: 3rem 0 1rem !important;
    }
  }

  //Auteur
  #auteur {
    width: 100% !important;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem) !important;
    font-style: italic !important;
    color: #9ec9e7 !important;
    text-align: right !important;
    margin: 0 !important;
    font-family: "Montserrat", sans-serif !important;
  }

  @media only screen and (min-width: 768px) {
    width: 60vw !important;
    margin: 0 20vw !important;
  }

  @media only screen and (min-width: 1024px) {
    width: 50vw !important;
  }
}